<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<h1>SpringBoot Study</h1>
	<h2>Edit User</h2>
	<form action="#" th:action="@{edit}" th:object="${userForm}"
		method="post">
		<input type="hidden" th:field="*{userId}" />
		<p>
			<span th:text="#{loginId}"></span>: <input type="text" th:field="*{loginId}" /><br>
			<span th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></span>
		</p>
		<p>
			<span th:text="#{password}"></span>: <input type="password" th:field="*{password}" /><br>
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		</p>
		<p>
			<span th:text="#{lastName}"></span>: <input type="text" th:field="*{lastName}" /><br>
			<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
		</p>
		<p>
			<span th:text="#{firstName}"></span>: <input type="text" th:field="*{firstName}" /><br>
			<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
		</p>
		<p>
			<button type="submit">Submit</button>
		</p>
	</form>
</body>
</html>