<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>top</title>
</head>
<body>
	<h1>SpringBoot Study</h1>
	<h2 th:text="#{title.page.admin.users}"></h2>
	<div>
		<button onclick="location.href='users/edit'"　th:text="#{label.button.add}"></button>
	</div>
	<table border="1">
		<tr>
			<th><input type="checkbox" /></th>
			<th　th:text="#{loginId}"></th>
			<th　th:text="#{lastName}"></th>
			<th　th:text="#{firstName}"></th>
			<th　th:text="#{label.button.edit}"></th>
		</tr>
		<tr th:each="user : ${users}">
			<td><input type="checkbox" th:value="${user.userId}" /></td>
			<td th:text="${user.loginId}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.firstName}"></td>
			<td><button th:text="#{label.button.edit}" th:onclick="|location.href='users/edit?userId=__${user.userId}__'|"></button></td>
		</tr>
	</table>
</body>
</html>